# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.kml
*.gml
*.zip
*.json
*.jpg
*.png
*.b3dm
*.gltf
*.pyc
gpxpy/__init__.py
gpxpy/geo.py
gpxpy/gpx.py
gpxpy/gpxfield.py
*.gpx
NYPD_Motor_Vehicle_Collisions.csv
NYC_CityGML_LoD2_Roadbed/Roadbed/72588/id_de51b11f-3833-499a-b6b5-49c927c5cb3d.dae
